<h1>All my Sammiches</h1>
<%= form_for Sammich.new do |f| %>
<%= f.label :sammich %>
<%= f.text_field :sammich %>
<%= f.submit %>
<% end %>
<ul>
	<% for sammich in @sammiches %>
	<li><%= sammich.name %></li>

	<% end %>
</ul>
